body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

#mainHeader {
  color: white;
  background-color: #333;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

div main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div #movieDetailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #EEE;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

div #movieDetail {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

div #searchResultContainer {
  width: 100%;
  max-width: 768px;
  background-color: #FFF;
  border: 1px solid #CCC;
  margin-top: 25px;
} 

div .movie {
  padding: 15px;
  border-bottom: 1px solid #CCC;
}

div .movie:hover {
  background: rgba(0, 0, 0, 0.05);
}

.pagenumbers {
  display:  flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagenumbers button {
  width: 50px;
  height: 50px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: #44AAEE;

  margin: 5px;
  transition: 0.4s;

  color: #FFF;
  font-size: 18px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pagenumbers button:hover {
  background-color: #44EEAA;
}

.pagenumbers button:active {
  background-color: #44EEAA;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

#viewMoreBtnContainer {
  text-align: center;
}

#viewMoreBtn {
  color: white;
  font-size: 18px;
}

#description {
  text-align: center;
  font-size: 22px;
}

#searchBarHolder {
  text-align: center;
}

#searchResult {
  align-items: center;
}